{% extends '@App/layout.html.twig' %}
{% block title %}{{ parent() }}{{ tag }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <strong class="col-xs-12">All Albums marked with <span class="label label-info">{{ tag }}</span></strong>
        </div>
        <div class="row">
            {% for album in albums %}
                {% include '@App/helper/album_element.html.twig' with {'album': album} %}
            {% else %}
                <span class="col-xs-12">No Albums marked with {{ tag }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}